@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    [Inject]
    NavigationManager? NavigationManager { get; set; }
    [Inject]
    BrowserHistory.Models.IBrowserUserHistoryRepository? browserUserHistoryRepository { get; set; }
    [Inject]
    IConfiguration? Config{ get; set; }
    void LocationChanged(object? sender, LocationChangedEventArgs e)
    {
        var title = BBH.UI.MyInterop.GetTitle();

        string navigationMethod = e.IsNavigationIntercepted ? "HTML" : "code";
        System.Diagnostics.Debug.WriteLine($"Notified of navigation to {title} via {navigationMethod} to {e.Location}");
        if (browserUserHistoryRepository == null)
        {
            throw new InvalidOperationException("browserUserHistoryRepository is null , did you forgot to DI ?");
        }
        browserUserHistoryRepository.AddToMemory(new BrowserHistory.Models.BrowserUserHistoryData
        {
            Url = e.Location,
            UserName = "",
            Date = DateTime.UtcNow,
            PageName = title
        });

    }
    protected override async Task OnInitializedAsync()
    {
        var basePath = Config?.GetValue<string>("AppBasePath") ?? "";
        await System.Runtime.InteropServices.JavaScript.JSHost.ImportAsync("InteropData", $"{basePath}_content/BBH.UI/exampleJsInterop.js");
        NavigationManager!.LocationChanged += LocationChanged; 

        await base.OnInitializedAsync();
    }
    public void Dispose()
   {
            NavigationManager!.LocationChanged -= LocationChanged;
   }
}